html, body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    background-color: whitesmoke;
}
.header{
    background-color: whitesmoke;
    display: flex;
    justify-content:space-between;
    padding: 2em;
}
#container{
    display: flex;
    justify-content: stretch;
    overflow: hidden;
}
.pallet-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}
.pallet{
    width: 20vw;
    height: 90vh;
    border: 1px solid white;
   }
.color-info{
    text-align: center;
    font-weight: 500;
    line-height: 10px;
}
.hex{
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.btn{
    background-color: rgb(226, 226, 226);
    border: 1px solid black;
    border-radius: 3px;
    font-family: inherit;
    padding: 5px 10px;
    cursor: pointer;  
}
#color-picker{
    cursor: pointer;
}
@media (max-width: 620px ){
    body{
        font-size: 12px;
        min-width: 415px;
    }
    .header{
        margin: 1em auto;
        background-color: whitesmoke;
        display: flex;
        justify-content:space-between;
        padding: 1em;
    }
    .btn{
        background-color: rgb(226, 226, 226);
        border-radius: 3px;
        padding: 3px 5px;
    }
    #color-picker{
        cursor: pointer;
    }
    #container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pallet-container{
        display: flex;
        height: 100px;
        width: 90%;
        margin: .5em 0;
        border-bottom: 2px solid gainsboro;
    }
    .pallet{
        width: 100%;
        height: 100%;
       }
    .color-info{
        display: flex;
        flex-direction: row-reverse;
        width: 50%;
        font-weight: 300;
        justify-content: center;
    }
    .color-info>p{
        margin: 10px;
    }
    .hex{
        color: rgb(0, 0, 0);
        cursor: pointer;
    }
}
